<h2>Add item</h2>

<form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="item">Item name:</label>
      <input class="form-control" type="text" id="item" [(ngModel)]="newItem.item" name="item" required>
    </div>
    
    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input class="form-control" type="number" id="quantity" [(ngModel)]="newItem.quantity" name="quantity" required>
    </div>
  
    <button class="btn btn-primary mt-2" type="submit">Add</button>
</form>